@import '~bootstrap/scss/bootstrap';


.sidebar {
    width: 150px;
    height: 100vh;
    background-color: #000000;
    color: white;

}

.content {
    width: calc(100vw - 150px);
    height: 100vh;
    overflow: auto;
}

header {
    height: 75px;
    background-color: #000000;


}

main {
    height: calc(100% - 75px);
}